.todo_input {
  display: flex;
}

.todo_input input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid plum;
}

.todo_input input:focus {
  background-color: lavenderblush;
}

.btn_insert {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 1rem;

  background-color: plum;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn_insert:hover {
  background-color: orchid;
}
